html,
body,
#root {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-family: Poppins, Helvetica, Arial, sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: 8px;
	scrollbar-color: #bababa #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar-y {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #bababa;
	border-radius: 3px;
	/* border: 3px solid #ffffff; */
}
a {
	text-decoration: none;
}

input,
textarea,
.btn {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	box-sizing: border-box;
	background-color: lightgray;
}

/* input:hover,
textarea:hover,
.btn:hover {
  opacity: 1;
} */

.submit {
	background-color: gray;
	color: white;
}

.bold {
	font-weight: bold;
}

.text-light {
	color: gray;
}

.error {
	color: red;
	margin: 0;
}

.error-center {
	color: red;
	margin: 0;
	text-align: center;
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
	/* cursor: not-allowed; */
}

/* antd typography */
.ant-typography.sub-title {
	font-size: 14px;
	font-weight: 600;
}
.ant-typography.sub-desc {
	font-size: 12px;
	color: #888;
}

/* antd popover override */
.ant-popover-inner {
	border-radius: 6px;
}

/* antd button override
.ant-btn {
  border-radius: 5px !important;
} */

/* antd input override */
.ant-input {
	border-radius: 5px !important;
}

/* antd input override */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
	border-radius: 5px;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.toolbar-container {
	flex: 0 0 0 !important;
	max-width: 0 !important;
	min-width: 0 !important;
	width: 0 !important;
}

.ant-modal-header {
	padding-right: 40px;
}

.ant-breadcrumb-link {
	cursor: pointer;
}

.ant-statistic-content-helper {
	font-size: 0.75rem;
	color: #666666;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: 1rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-1h {
	margin-top: 1.5rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-q {
	margin-bottom: 0.25rem;
}

.mb-h {
	margin-bottom: 0.5rem;
}

.mb-3q {
	margin-bottom: 0.75rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.mr-h {
	margin-right: 0.5rem;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.gap-h {
	gap: 0.5rem;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.w-full {
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.bordered-table {
	border-collapse: collapse;

	th,
	td {
		border: 1px solid black;
		padding: 10px;
	}
}

.basic-table {
	color: #333;
	background: white;
	border: 1px solid grey;
	font-size: 12pt;
	border-collapse: collapse;

	thead th,
	tfoot th {
		color: #777;
		background: rgba(0, 0, 0, 0.1);
	}

	caption {
		padding: 0.5em;
		font-size: 1.1rem;
		font-weight: 800;
	}

	th,
	td {
		padding: 0.5em;
		border: 1px solid lightgrey;
	}
}

// To use this table themes, first use the basic-table class and add data-table-theme parameter to table
[data-table-theme*="zebra"] tbody tr:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.05);
}
[data-table-theme*="zebra"][data-table-theme*="dark"]
	tbody
	tr:nth-of-type(odd) {
	background: rgba(255, 255, 255, 0.05);
}
/* Dark Style */
[data-table-theme*="dark"] {
	color: #ddd;
	background: #333;
	font-size: 12pt;
	border-collapse: collapse;
}
[data-table-theme*="dark"] thead th,
[data-table-theme*="dark"] tfoot th {
	color: #aaa;
	background: rgba(0255, 255, 255, 0.15);
}
[data-table-theme*="dark"] caption {
	padding: 0.5em;
}
[data-table-theme*="dark"] th,
[data-table-theme*="dark"] td {
	padding: 0.5em;
	border: 1px solid grey;
}

.blurred-section {
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	user-select: none;
	pointer-events: none;
}
